extends layout

block content

  h2 Welcome to the Zombie Frontier!
  header#login
    if user
      p Welcome #{user.displayName}
      p
        a(href='/logout') Logout
    else
      p
        a(href="/auth/facebook") Login with Facebook!
  
  div#gameboard
  
  script(src="/images/assets/phaser.min.js")
  script(src="/javascripts/game.js")
