doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Orbitron|Inconsolata' rel='stylesheet' type='text/css')
    //- script(src"https://code.jquery.com/jquery-2.2.1.js")    
    script.
      var user=!{JSON.stringify(user)};
    
  body
    block content
