doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/javascript/jquery-ui-1.11.4.custom/jquery-ui.css')
    script(src"https://code.jquery.com/jquery-2.2.1.js")
    //- script(src='/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js')
    //- script(src='../public/images/assets/phaser.min.js')
    
  body
    block content
