body {
  padding: 50px;
  font: 32px;
  background-color: #343d46;
  font-family: 'Inconsolata';
  color: #c0c5ce;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: #c0c5ce;
}
.story{
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameboard{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: #4f5b66 solid thick;
}
#highscores{
  display: flex;
  align-items: left-center;
  justify-content: left-center;
}
