body {
  padding: 50px;
  font: 32px;
  background-color: #343d46;
  font-family: 'Inconsolata';
  color: #c0c5ce;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: #c0c5ce;
  zoomIn: true;
}
.story{
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameboard{
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  outline: #a7adba solid thick;
  width: 1000px;
  height: 580px;
}
#container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#highscores{
  display: flex;
  align-items: left-center;
  justify-content: left-center;
}
